@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4> Concepts Explored During Development </h4>
<ul class="list-group">
    <li class="list-group-item">Modern Frameworks --> Bootstrap (Design) & Entity Framework(Data Management)</li>
    <li class="list-group-item">Entity --> Code First Development / Migrations / DB Design & Querying</li>
    <li class="list-group-item">ASP.NET MVC Best Practices --> Seperation of Concerns</li>
    <li class="list-group-item">Source Control Best Practices --> GitHub Version Control</li>
    <li class="list-group-item">Responsive Web Design --> PC/Tablet/Mobile Compatible</li>
    <li class="list-group-item">Agile Methodology --> Trello </li>
</ul>

<h4> Concepts & Features To Come Shortly </h4>

<ul class="list-group">
    <li class="list-group-item">Geolocation API Integration --> Display Client Geo-based Properties</li>
    <li class="list-group-item">API Integrations --> To facilitate Mobile Applications down the line</li>
    <li class="list-group-item">SASS Integration  --> To ramp up Design</li>
    <li class="list-group-item">Angular Animations Integrations --> To Enhance User Experiance</li>
</ul>

<h3> Special Thank you to Fode Toure, for an incredible course on Web Development</h3>


<p>Questions ? </p>
<p>Contact Me</p>
