@model IEnumerable<GitHome.Models.Unit>

@{
    ViewBag.Title = "Home Page";
}

<div class="myJumbotron">
    <div class="fadedBox">
        <h1 class="Hero">Helping Humans Git Home</h1>
        <p class="lead"> 23 Years & Counting </p>

        <p>
            @Html.ActionLink("Sign Up Today, It's Free !", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</div>

<div class="rowDelayed">

    <ul class="units">
        @foreach (var Unit in Model)
        {
            <li>
                <div>
                    <img src="~/Images/@(Unit.ID).jpg">
                    <div class="details">
                        <h2>@Unit.UnitDetail.Title - @Unit.UnitDetail.askingPrice $</h2>
                        <p>@Unit.UnitDetail.description</p>
                    </div>
                </div>
            </li>
        }
    </ul>
